<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta charset="UTF-8">
<title>Insert title here</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/awesome.css}" rel="stylesheet" />
<link th:rel="stylesheet" th:href="@{/fontawesome/css/all.css}">
<link th:rel="stylesheet" th:href="@{/css/sweetalert.css}">

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/sweetalert.min.js}"></script>


</head>

<style>
	li>a {
		color: #065c90;
	}

	#conteudopagina {
		margin-left: 30px;
		margin-right: 10px;
	}
	
	a {
    	text-decoration: none !important;
    	color: black;
    }
    
    .botao-voltar{
    	float: right;
    	margin-right: 4%;
    	margin-bottom: 5%;
    }
</style>

<body>

	<div>

		<nav class="navbar navbar-expand-lg container-fluid" style="background-color: #fbfbfb;" >
	
			<a> <img width="250px" th:src="@{/img/logo2.png}" class="mb-2" /></a>
	
		</nav>
	
		<section id="conteudopagina">
			<div layout:fragment="conteudo">Page content goes here</div>
		</section>
	</div>
	
	
	
	
	<script>
		$('.msg-error').each(function() { 
			swal("", $(this).val(),"error");
		});
		
		$('.msg-warning').each(function() { 
			swal("", $(this).val(),"warning");
		});
		
		$('.msg-info').each(function() { 
			swal("", $(this).val(),"info");
		});
		
		$('.msg-success').each(function() { 
			swal("", $(this).val(),"success");
		});
		$('.msg-danger').each(function() { 
			swal("", $(this).val(),"error");
		});
	</script>
	
	
</body>
</html>