<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta charset="UTF-8">
<title>Insert title here</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/awesome.css}" rel="stylesheet" />
<link th:rel="stylesheet" th:href="@{/fontawesome/css/all.css}">
<link th:rel="stylesheet" th:href="@{/css/sweetalert.css}">

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/sweetalert.min.js}"></script>


</head>

<style>
	li>a {
		color: #065c90;
	}

	#conteudopagina {
		margin-left: 30px;
		margin-right: 10px;
	}
	
	a {
    	text-decoration: none !important;
    	color: black;
    }
    
    .botao-voltar{
    	float: right;
    	margin-right: 4%;
    	margin-bottom: 5%;
    }
</style>

<body>

	<div th:if="${usuarioLogado} == null">
		<script>
			alert('redirect');
			window.location.href = "/uforum/"
		</script>
	</div>

	<div th:if="${usuarioLogado != null}">
	
		<input th:if="${layoutMensagem != null}" th:classappend="'msg-' + ${layoutMensagem.tipo}" type="hidden" th:value="${layoutMensagem.conteudo}"/>
		
		<nav class="navbar navbar-expand-lg container-fluid" style="background-color: #fbfbfb;" >
	
			<a th:href="@{/turmas}"> <img width="250px" th:src="@{/img/logo2.png}" class="mb-2" />
			</a>
	
			<div class="collapse navbar-collapse" id="navbarResponsive">
	
				<ul class="navbar-nav ml-auto bar">
	
					<li class="nav-item">
						<div class="mr-lg-2">
							<b style="text-transform: capitalize;">[[${usuarioLogado.nomePessoa}]]</b>
							<!-- <img th:if= "${usuarioLogado.avatar != null}"  class="rounded-circle" alt="Imagem de Perfil" width="32" height="32" th:src="@{'/pages/perfil/showImg/' + ${usuarioLogado.id}}"> -->
							<img class="rounded-circle" th:if="${usuarioLogado.urlFoto == ''}"
								style="background-color: white; border: black solid 1px;"
								alt="Imagem de Perfil" width="40" height="40"
								th:src="@{'/img/icons/user.svg'}">
								
							<img class="rounded-circle" th:if="${usuarioLogado.urlFoto != ''}"
								style="background-color: white;"
								alt="Imagem de Perfil" width="40"
								th:src="@{${usuarioLogado.urlFoto}}">
						</div>
					</li>
	
					<li class="nav-item"><a class="mr-lg-2" th:href="@{/logout}"
						title="logout"> <i class="fa fa-fw fa-power-off"></i>
					</a></li>
					
					<li class="nav-item"><a class="mr-lg-2" th:href="@{/conectar/telegram}"
						title="conectar-telegram"> <i class="fa fa-fw fa-bolt"></i>
					</a></li>
				</ul>
			</div>
		</nav>
	
		<section id="conteudopagina">
			<div layout:fragment="conteudo">Page content goes here</div>
		</section>
	</div>
	
	
	
	
	<script>
		$('.msg-error').each(function() { 
			swal("", $(this).val(),"error");
		});
		
		$('.msg-warning').each(function() { 
			swal("", $(this).val(),"warning");
		});
		
		$('.msg-info').each(function() { 
			swal("", $(this).val(),"info");
		});
		
		$('.msg-success').each(function() { 
			swal("", $(this).val(),"success");
		});
		$('.msg-danger').each(function() { 
			swal("", $(this).val(),"error");
		});
	</script>
	
	
</body>
</html>