<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Autenticação</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<style>
body {
	background-color: #fbfbfb;
	height: 100%; /* important to vertically align the container */
	margin: 0;
	padding: 0;
}

.vertical-center {
	min-height: 100%; /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one 🙂       */
	display: flex;
	align-items: center;
}
</style>


</head>


<body>

	<div class="vertical-center">
		<div class="container text-center">
			<div class="text-center p-3 mx-auto rounded" style="width: 530px; background-color: #d1eeff">
				<img th:src="@{/img/logo2.png}" class="mb-2"/>
				
				<form action="#" th:action="@{/autorizacao}" method="post">
					<button type="submit" class="btn btn-outline-success" >Autenticar-se</button>
					
				</form>
			</div>
		</div>
	</div>

	<!-- 
    <h1>Autenticação</h1>
    <form action="#" th:action="@{/autorizacao}" method="post">
        <input type="submit" value="Autenticar-se" />
    </form> -->
</body>
</html>