<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="fragmentos/template">

<head>
<title>Posts</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


</head>
<body>
	<div layout:fragment="conteudo">
		<div>
			<h3>Editar resposta</h3>
			<hr>
		</div>
		<div style="padding-top: 15px; padding-left: 25px;">
			<form th:action="@{/post/salvar_edicao_resposta}" th:object="${respostaPost}"
				th:method="POST">
				
				<div class="form-group">
					<div class="row">
						<label for="conteudo">Conteudo</label>
					</div>
					<div class="row">
						<textarea id="textarea" class="form-control col-8" rows="10" cols="60"
							th:field="*{conteudo}"></textarea>
					</div>
				</div>

				<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
				
				<a class="botao-voltar btn btn-sm btn-primary" th:href="@{'/post/voltar_visualizar_post'}">Voltar</a>

			</form>
		</div>
	</div>
</body>
</html>