<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
layout:decorator="fragmentos/template">
    <head>
        <title>Suas Turmas</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <style type="text/css">
    
    	.cabecalho {
    		border-top: none !important;
    	}
    	
    	a:hover{
    		font-weight: bold !important;
    		color: black;
    	}
    	
    </style>
    
    </head>
    <body>
    
    	<div layout:fragment="conteudo" >  
    		<div>
    			<h3>Suas Turmas</h3>
    			<hr>
    		</div>
    		<div th:if="${!#lists.isEmpty(usuario.turmas)}" style="padding-top: 15px; padding-left: 25px;">
	    		<table class="table">
				  <thead>
				    <tr>
				      <th class="cabecalho" scope="col">Turma</th>
				      <th class="cabecalho" scope="col">Opções</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="turma:${usuario.turmas}">
				   
				      <td ><a th:href="@{'/post/' + ${turma.id}}">[[${turma.titulo}]]</a></td>
				      <td>
				      	<a th:href="@{'/post/' + ${turma.id}}">
				      		<i class="far fa-eye"></i>
				      	</a>
				      	<a th:href="@{'/post/form_novo_post/' + ${turma.id}}">
				      		<i class="fas fa-plus-circle"></i>
				      	</a>
				      	
				      </td>
				    
				    </tr>
				  </tbody>
				</table>
				
				
    		</div>
    		<hr>
	        <div th:if="${#lists.isEmpty(usuario.turmas)}" >
	            
	            <h3>Você não esta matriculado em nenhuma turma.</h3>
	        </div>
        
        </div>
    </body>
</html>