<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
layout:decorator="fragmentos/template">
    <head>
        <title>Posts</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    	<div layout:fragment="conteudo">
    	
    		<div>

    			<h3>[[${grupo.titulo}]]</h3>

    			<hr>
    		</div>
    		<div th:if="${!#lists.isEmpty(posts)}" style="padding-top: 15px; padding-left: 25px;">
	    		<table class="table">
				  <thead>
				    <tr>
				      <th class="cabecalho" scope="col" width="40px">Respostas</th>
				      <th class="cabecalho" scope="col">Título</th>
				      <th class="cabecalho" scope="col">Opções</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr  th:each="post:${posts}">
				    
				      <td >[[${post.respostas.size()}]]</td>
				      <td >[[${post.titulo}]]</td>
				      <td>
				      	<a th:href="@{'/post/visualizar/' + ${post.id}}">
				      		<i class="far fa-eye"></i>
				      	</a>
				      	
				      	<a th:if="${post.responsavel.idUsuario == usuarioLogado.idUsuario}" th:href="@{'/post/form_editar_post/' + ${post.id}}">
				      		<i class="far fa-edit"></i>
				      	</a>
				      	
				      	<a th:if="${post.responsavel.idUsuario == usuarioLogado.idUsuario}" th:href="@{'/post/remover_post/' + ${post.id}}">
				      		<i class="fas fa-trash-alt"></i>
				      	</a>
				      </td>
				    
				    </tr>
				  </tbody>
				</table>
				
				
    		</div>
    		<hr>
    	
	        <div th:if="${#lists.isEmpty(posts)}">
	            <br />
	            <h3>Nenhum post cadastrado para essa grupo.</h3>
	        </div>
	        
        	<a th:href="@{'/post/form_novo_post/' + ${grupo.id}}" class="btn btn-sm btn-primary">Novo Post</a> 
        	
        	<a th:if="${post.id < 1}" class="botao-voltar btn btn-sm btn-primary" th:href="@{'/post/voltar_para_turmas/'}">Voltar</a>
        </div>
    </body>
</html>