<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
layout:decorator="fragmentos/template">
    <head>
        <title>Posts</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <style type="text/css">

		.container-post-resposta {
		    background-color: #fafafa;
		    border: 1px solid #e1e8ed;
		    border-radius: 4px;
		}
		
		.container-post{
			padding-top: 10px;
		    padding-left: 10px;
		}
		
		.container-resposta{
		    border-bottom: 1px solid #e1e8ed;
		    margin-top: 10px;
		    margin-left: 20px;
		    margin-bottom: 1px;
		}
		
		.informacoes-usuario {
			margin-bottom: 10px;
		}
		
		.nome-usuario {
		    font-weight: 700;
			display:inline;
		}
		
		.data-hora {
		    display: inline-block;
		    background-color: transparent;
		    color: #ababab;
		    float: right;
		    margin-right: 10px;
		}
		
		.corpo-post-resposta{
			
		}
		
		.imagem-usuario{
		}
		
		.opcoes{
			float:right;
			margin-right: 10px;
			margin-bottom: 10px;
		}     
        
        </style>

        
    </head>
    <body>
    	<div layout:fragment="conteudo">
    	
    		<div style="margin-top:10px;">
				<div class="row">
						<div class="col-sm-6">
							<img class="imagem-usuario"  width="40" alt="zppoz" th:src="@{${post.responsavel.urlFoto}}">
							<p class="nome-usuario">[[${post.responsavel.nomePessoa}]]</p>
						</div>
						<div class="col-sm-6">
							<p class="data-hora" th:text="${#dates.format(post.dataCriacao, 'dd-MM-yyyy')}"></p>
						</div>
					</div>
				<hr>
			</div>
    	
    	
			<div class="container-post-resposta">        
				<div class="container-post">
					
					<div class="post-conteudo">
						<div class="row titulo">
							<div class="col-sm-12">
								<h5>[[${post.titulo}]]</h5>
							</div>
						</div>
						<div class="row conteudo">
							<div class="col-sm-12">
								<p th:utext="${post.conteudo}"></p>
							</div>
						</div>
					</div>
				</div>
			 	
			</div>            
			<hr>
			<div  th:each="resposta:${post.respostas}">			 	
					<div class="container-resposta">
						<div class="row informacoes-usuario">
							<div class="col-sm-6">
								<img width="40"  alt="zppoz" th:src="@{${resposta.responsavel.urlFoto}}">
								<p class="nome-usuario">[[${resposta.responsavel.nomePessoa}]]</p>
							</div>
							<div class="col-sm-6">
								<p class="data-hora" th:text="${#dates.format(resposta.dataCriacao, 'dd-MM-yyyy')}"></p>
							</div>
						</div>
						<div class="row conteudo">
							<div class="col-sm-12">
								<p th:utext="${resposta.conteudo}"></p>

								<div class="opcoes">								
									<a th:if="${resposta.responsavel.idUsuario == usuarioLogado.idUsuario}" th:href="@{'/post/editar_resposta/' + ${resposta.id} + '/' + ${post.id}}">
					      				<i class="far fa-edit"></i>
					      			</a>
					      			
					      			<a th:if="${resposta.responsavel.idUsuario == usuarioLogado.idUsuario}" th:href="@{'/post/remover_resposta/' + ${resposta.id} + '/' + ${post.id}}">
					      				<i class="fas fa-trash-alt"></i>
					      			</a>
					      		</div>

							</div>
						</div>			
					</div>
				</div>

			<hr >
            <div style="padding-top: 15px; padding-left: 25px;">           
	            <form th:action="@{'/post/responder/' + ${post.id} }" th:object="${respostaPost}" th:method="POST" >				          
				    <div class="form-group row">
					    <label for="conteudo" class="col-sm-2 col-form-label">Responder Post</label>
					    <div class="col-sm-10" >
					   		<textarea id="textarea" class="form-control col-8" rows="10" cols="60" th:field="*{conteudo}"></textarea>

					 	</div>
					 </div>
					 
				    <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
				    
				    <a class="botao-voltar btn btn-sm btn-primary" th:href="@{'/post/voltar_para_posts/'}">Voltar</a>
				    
				</form>
			</div>      
        </div>			        
    </body>
</html>