<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div th:if="${usuario != null}">
            <h1>Usuário Logado</h1>
            <p>id: <span th:text="${usuario.idUsuario}"></span></p>
            <p>login: <span th:text="${usuario.login}"></span></p>
            <p>nome: <span th:text="${usuario.nomePessoa}"></span></p>
        </div>
        
        <tr />
        <div th:if="${!#lists.isEmpty(turmas)}" th:each="turma:${turmas}">
            <br />
            <h3>[[${turma.nomeComponente}]]</h3>
        </div>
        
        
    </body>
</html>